# Include all Python files
include *.py
recursive-include SignLangASL_Recognizer *.py
recursive-include SignLangASL_Recognizer/model *.h5  # Include your model files
recursive-include SignLangASL_Recognizer/images *.png  # Include any images, if applicable

# Include README.md and any other documentation files
include README.md

# Include any other necessary files or folders
include LICENSE  # If you have a license file
